/* Google Fonts imported in HTML */

/* Custom animations */
@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(.3);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

.animate-slideIn {
  animation: slideIn 1.8s ease-in-out forwards;
}

/* #container { display:flex; flex-direction: column; text-align:center;}
#column_1 { order: 2 }
#column_2 { order: 1 }
#clum { display: none; } */



form{
/* display: flex; */
  flex-direction: column;
}

input{
  padding: 1rem;
  border-radius: 5px;
}

textarea{
  padding: 1rem;
  border-radius: 5px;
}

input[type="submit"]{
  margin-top: 2rem;
  padding: 1rem;
  /* background-color: #929296; */
  background-color: transparent;
  color: white;
  border-width: 1px; 
  /* border: none; */
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #bf307f;;
  /* color: white;
  border-width: 1px;  */
  /* border: none; */
  border-radius: 5px;
  cursor: pointer;
}

label{
  margin-top: 1rem;
  align-self: flex-start;
}

.contact-pg-form-div {
  display: flex; 
  margin-top: 110px; 
  margin-bottom: 2.5rem;
  margin-left:  2.5rem;  
  margin-right: 2.5rem; 
  justify-content: space-between; 
  z-index: 5;
  height: auto;
}

.form-labels {
  display: block; 
  /* color: #374151;  */
  font-size: 0.875rem;
  line-height: 1.25rem; 
  font-weight: 500; 
  margin-top: 15px;
  margin-bottom: 5px;
}

.form-container {
  padding-left: 2.5rem;
  padding-right: 2.5rem; 
  /* padding-top: 1.5rem;  */
  padding-bottom: 2rem; 
  margin-bottom: 1rem; 
  /* background-color: #ffffff;  */
  border-radius: 0.25rem; 
  border-width: 0; 
  box-shadow: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03)) drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08)); 
}

/* .form-container:hover {
  z-index: 50; 
} */

.input-field {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; 
  padding-left: 0.75rem;
  padding-right: 0.75rem; 
  color: white; 
  line-height: 1.25; 
  width: 100%; 
  border-radius: 0.25rem; 
  border-width: 1px; 
  appearance: none; 
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); 
  background-color : transparent; 
  

}
